<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom mb-4">
        <div class="container-fluid">

            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                Sistema Escolar
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav me-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/Alunos">Alunos</a>
                    
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Professoras">
                            Professoras
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Turmas">
                            Turmas
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="container mt-4">
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
