@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Frequência - Selecionar Turma";
}

<h2>Controle de Frequência</h2>

<div class="card">
    <div class="card-header">
        Selecione a turma
    </div>

    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>Turma</th>
                    <th>Turno</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var turma in Model)
                {
                    <tr>
                        <td>@turma.Nome</td>
                        <td>@turma.Turno</td>
                        <td>
                            <a class="btn btn-primary btn-sm"
                               asp-action="Registrar"
                               asp-route-turmaId="@turma.TurmaId">
                                Registrar Frequência
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
