@{
    ViewData["Title"] = "Teste Bootstrap";
}

<div class="container mt-5">
    <h1 class="text-primary">Bootstrap OK</h1>

    <div class="alert alert-success">
        Bootstrap está funcionando corretamente 🎉
    </div>

    <button class="btn btn-danger">Botão</button>
</div>
